mixin carousel(currentPage, buttonOne, buttonTwo, buttonThree, linkOne, linkTwo, linkThree)
    header.header.section-landing
        .carousel__main
            .carousel__cell
                .carousel__image(class= `carousel__slide--${currentPage}-1`)
                    .carousel__content
                        .header__text-box
                            h1.heading__primary
                                span.heading__primary--main Fern
                        a.btn.btn__text--cream(href=`/${linkOne}`)= buttonOne
            .carousel__cell
                .carousel__image(class= `carousel__slide--${currentPage}-2`)
                    .carousel__content
                        .header__text-box
                            h1.heading__primary
                                span.heading__primary--main Fern
                        a.btn.btn__text--cream(href=`/${linkTwo}`)= buttonTwo
            .carousel__cell
                .carousel__image(class= `carousel__slide--${currentPage}-3`)
                    .carousel__content
                        .header__text-box
                            h1.heading__primary
                                span.heading__primary--main Fern
                        a.btn.btn__text--cream(href=`/${linkThree}`)= buttonThree
