doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet")
        title FERN | Checkout
    
    body
        header.header.header-checkout
            .header__text-box.header-checkout__text-box
                h1.heading__primary
                    .heading__primary--main.heading-checkout Fern Shop
                    .heading__primary--sub.heading-checkout.header-checkout__primary--sub Order Summary
        
        main.main
            section.section-summary
                .checkout-container
                    .items-container
                        .items-container__header.checkout-item
                            .heading-secondary &nbsp
                            .checkout-item__name.heading-secondary Item
                            .checkout-item__price.checkout-item__details--animate.heading-secondary Price
                            .checkout-item__qty.checkout-item__details--animate.heading-secondary Quantity
                            .checkout-item__totalPrice.heading-secondary Total
                        .checkout-item-container
                            each itemDetails in items
                                .checkout-item(data-product-id=`${itemDetails.item._id}`)
                                    .checkout-item__remove.checkout-item__details.checkout-item__details--animate(data-product-id=`${itemDetails.item._id}`)
                                        i.fas.fa-times.btn.btn__remove-checkout-item(data-product-id=`${itemDetails.item._id}`)
                                    .checkout-item__name.paragraph-primary= itemDetails.item.name
                                    .checkout-item__price.checkout-item__details.checkout-item__details--animate= `€ ${itemDetails.item.price} / ${itemDetails.item.weight}`
                                    select.checkout-item__qty.checkout-item__quantity-drop-down.checkout-item__details.checkout-item__details--animate(data-product-id=`${itemDetails.item._id}` name=`${itemDetails.item.name}` id=`${itemDetails.item._id}` value=`${itemDetails.qty}`)
                                            option(value=`${itemDetails.qty }` selected=`${itemDetails.qty }`)= itemDetails.qty
                                            - for  (let i = 1; i < 11; i++) {
                                                if i === itemDetails.qty
                                                    - continue
                                                else 
                                                    option(value=`${i}`)= i
                                            - }
                                            
                                    .checkout-item__totalPrice.checkout-item__details.checkout-item__details--animate= `€ ${itemDetails.price}`
                        .items-container__footer.checkout-item
                            .paragraph-primary.checkout-total= `€ ${cart.totalPrice}`

            section.section-form
                .form-container__address.form-container
                    .form-container__chevron.form-container__chevron-left.form-container__chevron-left--hidden
                        i.fas.fa-chevron-circle-left.btn.btn--green
                    form.form.form__address(action="")
                        .form__group-container
                            h3.heading-tertiary.form__header Delivery Address
                        .form__group-container
                            .form__group
                                label.form__label(for="delivery-fname") Full Name
                                input.form__input(type="text" id="delivery-fname" name="fname" required )  
                            .form__group
                                label.form__label(for="delivery-email") E-mail
                                input.form__input(type="email" id="delivery-email" name="email" required )  
                            .form__group
                                label.form__label(for="delivery-phone") Telephone
                                input.form__input(type="tel" id="delivery-phone" name="phone" required)  
                        .form__group-container
                            .form__group
                                label.form__label(for="delivery-street") Street and House number
                                input.form__input(type="text" id="delivery-street" name="street" required)  
                            .form__group
                                label.form__label(for="delivery-city") Town/City
                                input.form__input(type="text" id="delivery-city" name="city" required)  
                            .form__group
                                label.form__label(for="delivery-postcode") Postcode
                                input.form__input(type="text" id="delivery-postcode" name="postcode" required)  
                            .form__group
                                label.form__label(for="delivery-country") Country
                                input.form__input(type="text" id="delivery-country" name="country" required)  
                        .form__group-container.form__footer 
                            .form__billing-checkbox-container
                                .checkbox-container
                                    input.form__billing-checkbox(type="checkbox" id="billing-checkbox" name="billing-checkbox" checked)
                                    span.form__billing-checkbox-checkmark
                                label.form__label.form__billing-label Same Billing Address
    
                .form-container__billing.form-container
                    .form-container__chevron.form-container__chevron-right.form-container__chevron-right--hidden
                            i.fas.fa-chevron-circle-right.btn
                    form.form.form__billing(action="")
                        .form__group-container
                            h3.heading-tertiary.form__header Billing Address    
                        .form__group-container
                            .form__group
                                label.form__label(for="billing-fname") Full Name
                                input.form__input-billing.form__input(type="text" id="billing-fname" name="fname" required )  
                            .form__group
                                label.form__label(for="billing-email") E-mail
                                input.form__input-billing.form__input(type="email" id="billing-email" name="email" required )  
                            .form__group
                                label.form__label(for="billing-phone") Telephone
                                input.form__input-billing.form__input(type="tel" id="billing-phone" name="phone" required)  
                        .form__group-container
                            .form__group
                                label.form__label(for="billing-street") Street and House number
                                input.form__input-billing.form__input(type="text" id="billing-street" name="street" required)  
                            .form__group
                                label.form__label(for="billing-city") Town/City
                                input.form__input-billing.form__input(type="text" id="billing-city" name="city" required)  
                            .form__group
                                label.form__label(for="billing-postcode") Postcode
                                input.form__input-billing.form__input(type="text" id="billing-postcode" name="postcode" required)  
                            .form__group
                                label.form__label(for="billing-country") Country
                                input.form__input-billing.form__input(type="text" id="billing-country" name="country" required)  


        section.section-buttons 
            .button-container
                .button-container__checkout
                    button.btn.btn__text--green-basil#btn-address Procceed to Payment

        

        
        script(src="https://kit.fontawesome.com/1d1b865421.js" crossorigin="anonymous")
        script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js")
        script(type="module" src="/js/index.js")


