doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet")
        title FERN | SHOP
    
    body
        header.header.header-checkout
            .header__text-box.header-checkout__text-box
                h1.heading__primary
                    .heading__primary--main.heading-checkout Fern Shop
                    .heading__primary--sub.heading-checkout.header-checkout__primary--sub Order Summary
        
        main
            section.section-summary
                .checkout-container
                    .items-container
                        .items-container__header.checkout-item
                            .checkout-item__details.heading-secondary.checkout-item__remove &nbsp
                            .heading-secondary.checkout-item__name Item
                            .heading-secondary.checkout-item__price Price/Serving
                            .heading-secondary.checkout-item__qty Quantity
                            .heading-secondary.checkout-item__totalPrice Total
                        each itemDetails in items
                            .checkout-item(data-product-id=`${itemDetails.item._id}`)
                                .checkout-item__details.checkout-item__remove
                                    i.fas.fa-times.btn.btn__remove-checkout-item
                                .checkout-item__name.paragraph-primary= itemDetails.item.name
                                .checkout-item__price.checkout-item__details= `€ ${itemDetails.item.price} / ${itemDetails.item.weight}`
                                .checkout-item__qty.checkout-item__details= itemDetails.qty
                                .checkout-item__totalPrice.checkout-item__details= `€ ${itemDetails.price}`
                        .items-container__footer.checkout-item
                            .paragraph-primary.checkout-total= `€ ${cart.totalPrice}`
            section.section-address
            section.section-buttons 
                .button-container
                    .button-container__checkout
                        button.btn.btn__text--green-basil#btn-address Address Form

        

        
        script(src="https://kit.fontawesome.com/1d1b865421.js" crossorigin="anonymous")
        script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js")
        script(type="module" src="/js/index.js")


