doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="https://unpkg.com/flickity@2/dist/flickity.min.css" rel="stylesheet")
        title FERN | Payment Confirmed
    
    body
        header.header.header-checkout
            .header__text-box.header-checkout__text-box
                h1.heading__primary
                    .heading__primary--main.heading-checkout Fern Shop
                    .heading__primary--sub.heading-checkout.header-checkout__primary--sub Payment Confirmed
        
        main.main
            section.section-summary
                .checkout-container
                    .items-container
                        .items-container__header.checkout-item
                            .checkout-item__name.heading-secondary Item
                            .checkout-item__price.checkout-item__details--hide.heading-secondary Price
                            .checkout-item__qty.heading-secondary Quantity
                            .checkout-item__totalPrice.heading-secondary Total
                        .items-container__body.checkout-item-container
                            each itemDetails in items
                                .checkout-item 
                                    .checkout-item__name.paragraph-primary= itemDetails.custom.name
                                    .checkout-item__price.checkout-item__details.checkout-item__details--hide= `€ ${itemDetails.amount / 100}`                                            
                                    .checkout-item__qty.checkout-item__details= itemDetails.quantity
                                    .checkout-item__totalPrice.checkout-item__details= `€ ${itemDetails.amount * itemDetails.quantity}`
                        .items-container__footer.checkout-item
                            .paragraph-primary.checkout-total= `€ ${total}`



        section.section-buttons 
            .button-container
                .button-container__checkout
                    button.btn.btn__text--green-basil#btn-address(form="form-checkout" type="submit") Procceed to Payment

        

        
        script(src="https://kit.fontawesome.com/1d1b865421.js" crossorigin="anonymous")
        script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js")
        script(src="https://js.stripe.com/v3/")
        script(src="/js/bundle.js")


