extends base
block content        
    header.header.section-landing
        .shop-landing-bg-container
            .header__text-box
                .heading__primary
                    .heading__primary--main Fern
                    .heading__primary--sub Shop

    section.section-products
        
        .cart-btn-container
            button.btn.btn__cart
                i.btn__cart-icon.fas.fa-shopping-cart
                .btn__cart-items 0

        .cart-container
            .cart
                .cart__header 
                    span.cart__header-close
                        i.fas.fa-times.btn 
                    h2.heading-secondary.cart__header-title  cart
                .cart__details-grid
                    .cart__item-details
                        
                .cart__footer   
                    p.paragraph-primary.totalPrice-text Total
                        span.paragraph-primary.cart__total 
                    a.btn.btn__text--cream.btn__checkout(href='http://localhost:8000/checkout') Checkout



        .card-container
            each product in products
                .card 
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/products/${product.imageCover}`, alt=`${product.name}`)
                        
                    
                    .card__details-grid
                        h3.card__sub-heading.heading-tertiary.card__details-grid--header= product.name
                        p.paragraph-primary.card__details-grid--body= product.description
                        .card__data.card__details-grid--footer-1.paragraph-secondary
                            span= product.weight
                        .card__data.card__details-grid--footer-2.paragraph-secondary
                            span= `EUR ${product.price}`
                    .card__footer
                        button.btn.btn__text--green-basil.card__footer-button.cart-btn(data-product-id=`${product._id}`) Add to Cart